@use "../../variables.scss";
@use "../../typography.scss";

.Layout {
  width: 80rem;
  margin: 0 auto;

  @media screen and (width <= 48rem) {
    width: 100%;
  }

  .PosterContainer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @media screen and (width <= 48rem) {
      margin-top: 6rem;
    }

    img {
      width: 37.5rem;
      object-fit: scale-down;

      @media screen and (width <= 48rem) {
        width: 100%;
      }
    }
  }

  .ButtonsContainer {
    width: 56.25rem;
    margin: 0 auto;
    margin-top: 4rem;

    @media screen and (width <= 48rem) {
      width: calc(100% - 2rem);
      margin-top: 2rem;
    }
  }

  .AboutContainer {
    width: 56.25rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;

    @media screen and (width <= 48rem) {
      width: calc(100% - 1rem);
    }

    .Title {
      @include typography.font("Header1", "white");

      width: 100%;
      text-align: center;
    }

    .TextContainer {
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;

      p {
        @include typography.font("Body1", "white");

        white-space: pre-line;
        word-break: keep-all;
        word-wrap: break-word;
        line-height: 180%;
      }
    }
  }
}
