@use '../../typography.scss';

.Dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Content {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    text-align: center;

    h1 {
      @include typography.font('Header1', 'white');

      margin: 0;
    }

    h4 {
      @include typography.font('Body1', 'white');

      margin: 0;
      margin-top: 0.5rem;
    }

    span {
      @include typography.font('Body1', 'gray');
    }
  }

  .ButtonWrapper {
    margin-top: 1.5rem;

    .ConfirmButton {
      padding: 0.5rem 1.25rem;

      pre {
        @include typography.font('Body1', 'white');

        margin: 0;
        text-align: center;
        line-height: initial;

        span {
          @include typography.font('Body2', 'gray');
        }
      }
    }
  }
}
