@use "../../typography.scss";

.Container {
  width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (width <= 48rem) {
    width: 100vw;
    flex-direction: column;
  }

  .ProgramContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @media screen and (width <= 48rem) {
      margin-top: 6rem;
    }

    button {
      width: fit-content;
      margin-bottom: 2rem;

      @media screen and (width <= 48rem) {
        margin-bottom: 1.5rem;
      }
    }

    .ProgramText {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      width: 35rem;

      @media screen and (width <= 48rem) {
        width: calc(100% - 1rem);
        row-gap: initial;
      }

      span {
        @include typography.font("Body1", "white");

        @media screen and (width <= 48rem) {
          @include typography.font("Body1", "white");
          line-height: 200%;
        }
      }
    }
  }

  .ProgramImageContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    img {
      width: 35rem;

      @media screen and (width <= 48rem) {
        width: calc(100% - 1rem);
        padding: 0.5rem 0;
      }
    }
  }
}
