@use "../../typography.scss";

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .Link {
    @include typography.font("Body1", "white");

    font-size: 1.125rem;
    font-weight: 400;
  }
}
