@use "../../variables.scss";
@use "../../typography.scss";

.MovingObject {
  position: absolute;
  cursor: pointer;
}

.Clicked {
  transform: scale(1.1);
  z-index: 101;
  filter: brightness(1.5);
}

.Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 37.5rem;

  @media screen and (width <= 48rem) {
    width: calc(100% - 1rem);
  }

  .ModalText {
    @include typography.font("Header1", "white");

    margin: 0;

    @media screen and (width <= 48rem) {
      @include typography.font("Body1", "white");

      font-weight: 700;
    }
  }

  .ModalTranslation {
    @include typography.font("Header2", "gray");

    font-weight: 500;
    margin: 0;

    @media screen and (width <= 48rem) {
      @include typography.font("Body2", "gray");
    }
  }
}
