.NavContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: fixed !important;
  background-color: black;
  top: 0;
  z-index: 999;
  -webkit-mask-box-image: linear-gradient(
    to bottom,
    white 5%,
    white 80%,
    transparent 100%
  );

  @media screen and (width <= 48rem) {
    height: 6rem;
  }

  ul {
    padding: 2.5rem;

    @media screen and (width <= 48rem) {
      padding: 1rem;
    }
  }
}

.LinkContainer {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2.5rem;

  @media screen and (width <= 48rem) {
    column-gap: 2rem;
  }
}
