.NavContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: fixed;
  top: 0;

  @media screen and (width <= 35.9988rem) {
    height: 6rem;
    position: initial;
  }
}

.LinkContainer {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  padding-right: 3rem;

  @media screen and (width <= 35.9988rem) {
    padding-right: 2rem;
  }
}

.Link {
  font-size: 1rem;
}
