.Index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (width <= 48rem) {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}

.Layout {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media screen and (width <= 48rem) {
    width: 100%;
    flex-direction: column;
  }

  .Container22 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @media screen and (width <= 48rem) {
      padding-top: 2rem;
    }

    img {
      user-select: none;
      height: 40rem;
      width: auto;

      @media screen and (width <= 48rem) {
        width: 100%;
        height: auto;
      }
    }
  }

  .Container23 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @media screen and (width <= 48rem) {
      padding-bottom: 2rem;
    }

    button {
      margin-top: -2rem;
      z-index: 1;
    }

    img {
      width: 40rem;
      height: auto;

      @media screen and (width <= 48rem) {
        width: 100%;
      }
    }
  }
}
