@use '../../variables.scss';
@use '../../typography.scss';

.Texts {
  width: 100%;

  p {
    @include typography.font('Body1', 'white');

    margin: 0;
    line-height: 180%;
    word-break: keep-all;
    word-wrap: break-word;

    @media screen and (width <= 48rem) {
      line-height: 200%;
    }
  }
}
