.CreditPage {
  width: 80rem;
  margin: 0 auto;

  @media screen and (width <= 48rem) {
    width: 100%;
  }

  .TitlesContainer {
    margin-top: 8rem;

    @media screen and (width <= 48rem) {
      margin-top: 6rem;
    }
  }

  .ContentContainer {
    margin: 0 auto;
    margin-top: 4rem;
    width: 56.25rem;

    @media screen and (width <= 48rem) {
      width: calc(100% - 1rem);
      margin-top: 2rem;
    }
  }

  .PartnerContainer {
    margin: 0 auto;
    margin-top: 4rem;
    width: 56.25rem;
    padding-bottom: 4rem;

    @media screen and (width <= 48rem) {
      width: 100%;
      margin-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
