@use "../../variables.scss";
@use "../../typography.scss";

.Container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @media screen and (width <= 48rem) {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
  }

  .TitlesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 2rem;

    @media screen and (width <= 48rem) {
      width: calc(100% - 1.5rem);
    }
  }

  .ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @media screen and (width <= 48rem) {
      width: calc(100% - 1.5rem);
      padding-top: 2rem;
    }

    .Logos {
      display: flex;
      width: 37.5rem;
      gap: 2rem;
      padding-top: 2rem;

      @media screen and (width <= 48rem) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
      }

      img {
        width: 30%;
        object-fit: contain;

        @media screen and (width <= 48rem) {
          width: 50%;
        }
      }
    }
  }
}
