.ButtonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media screen and (width <= 48rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  div {
    display: flex;
    justify-content: center;
    opacity: 0;

    button {
      width: 100%;
    }
  }
}
