@use "sass:map";
@use "./variables";

$color-map: (
  "white": variables.$white,
  "black": variables.$black,
  "gray": variables.$text-gray,
);
$font-size-map: (
  "Display1": 2.5rem,
  "Header1": 1.5rem,
  "Header2": 1.25rem,
  "Body1": 1rem,
  "Body2": 0.875rem,
);
$font-weight-map: (
  "Display1": 700,
  "Header1": 700,
  "Header2": 600,
  "Body1": 400,
  "Body2": 400,
);
$line-height-map: (
  "Display1": 120%,
  "Header1": 150%,
  "Header2": 150%,
  "Body1": 140%,
  "Body2": 140%,
);

/*
  EXAMPLE
  @include typography.pf-font('Title1', 100, false);
  @param $type: 'font type' - string
  @param $color: colors in neutral - number
  @param $line-height: if false line-height is not applied - boolean
*/
@mixin font($type, $color: false, $line-height: true) {
  font-size: map.get($font-size-map, $type);
  font-weight: map.get($font-weight-map, $type);

  @if $color {
    color: map.get($color-map, $color);
  }

  @if $line-height {
    line-height: map.get($line-height-map, $type);
  }
}
